<div class="d-flex mt-5">
  <% products.all.each do |product| %>
    <section class="card mr-3" style="width: 350px">
      <img
        class="card-img-top"
        src="<%= product.image_path %>">
      <div class="card-body">
        <h5 class="card-title name"><%= product.name %></h5>
        <div class="description"><%= product.description %></div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div class="price">
          <span class="font-weight-bold" style="font-size: 1.5em"><%= money product.price %></span>
          <span style="font-size: 1.1em"><%= product.rate.description %></span>
        </div>
        <button id="btn-<%= product.id %>" class="btn btn-primary">Select</button>
      </div>
    </section>
  <% end %>
</div>
<div id="error-message" class="error-message"></div>
