<section class="jumbotron bg-white mb-4 pt-4 pb-0 px-5">
    <div class="container">
    <h2 class=" mb-1 text-muted text-uppercase" style="font-size:1.4em">Your Mentor</h2>
    <div class="d-md-flex mt-0 pt-3 border-top">
        <img class="border mr-md-3 rounded-circle float-md-right"
             style="width:200px;height:200px" src="/img/delon.jpg" alt="Picture of Delon & Jackie">
        <div class="mt-3 mt-md-0">
            <p class="lead">
                Delon got his start professionally at 18 years old (in 1999) writing a data conversion script in Perl for his
                mother's client in the manufacturing industry. Since then he's worked for various companies, but primarily he's
                been a freelancer and consultant.
            </p>
            <p>
                He's used a variety of technologies including Perl, C, C#, <abbr title="Visual Basic for Applications">VBA</abbr>,
                Java, Python, Bash, PHP, Emacs Lisp, <abbr title="Strutcutred Query Language">SQL</abbr> and Datalog, but mostly
                works with Ruby, JavaScript and Clojure.
            </p>
            <p>
                He loves learning and helping others learn. He's a self-professed math and science geek, but he also loves music
                (especially Jazz), poetry, photography and hiking with his beautiful wife and their dog Blu.
            </p>
            <p>
                If you'd like to learn more about Delon's background please visit his
                <a href="https://delonnewman.name">personal website</a> to see his resume or his
                <a href="https://github.com/delonnewman">GitHub profile</a> to see some of his open source work and experiments.
            </p>
        </div>
    </div>
    </div>
</section>
<section class="bg-light px-5 py-4">
    <div class="container">
        <h2 class=" mb-1 text-muted text-uppercase" style="font-size:1.4em">
            <i class="fas fa-quote-left"></i>
            What Others Say
        </h2>
    <div class="mt-0 pt-3 border-top">
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            I had a great session with Delon, he was very understanding and had a lot of patience with me. He has a lot of
            experience to help you out and guide you to solve your problem. I recommend him 100%.
        </p>
        <footer class="blockquote-footer">Marisol <cite>Pluralsight Mentor Review</cite></footer>
    </blockquote>
    <blockquote class="blockquote text-center">
        <p class="mb-0">
            Unbelievable fast, funny guy who is a absolute pro in the field of PHP/SQL. He not only helped me but even provided
            a better solution to the problem in a matter of minutes.
        </p>
        <footer class="blockquote-footer">Philip <cite>Pluralsight Mentor Review</cite></footer>
    </blockquote>
    </div>
    </div>
</section>
<section>
<div class="container d-lg-flex mt-5">
  <% products.each do |product| %>
    <section class="card mr-lg-3 mb-3 mb-lg-0 mx-auto" style="width: 350px">
      <img
        class="card-img-top"
        src="<%= product.image_path %>">
      <div class="card-body">
        <h5 class="card-title name"><%= product.name %></h5>
        <div class="description text-muted" style="font-size: 0.9em"><%= product.description %></div>
        <%= mentor_availability product, current_user %>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div class="price">
          <span class="font-weight-bold" style="font-size: 1.5em"><%= money product.price %></span>
          <span style="font-size: 1.1em" class="text-muted"><%= product.rate.description %></span>
        </div>
        <% disabled = 'disabled' if product.disabled?(current_user) %>
        <button id="btn-<%= product.id %>" class="btn btn-primary btn-select-product" <%= disabled %>>Select</button>
      </div>
    </section>
  <% end %>
</div>
<div id="error-message" class="error-message"></div>
</section>
