<div class="d-flex mt-5">
  <% products.each do |product| %>
    <section class="card mr-3" style="width: 350px">
      <img
        class="card-img-top"
        src="<%= product.image_url %>">
      <div class="card-body">
      <h5 class="card-title name"><%= product.name %></h5>
      <div class="price">$<%= sprintf "%.2f", product.price %></div>
      <div class="description"><%= product.description %></div>
      <button id="btn-<%= product.product_id %>">Select</button>
      </div>
    </section>
  <% end %>
</div>
<div id="error-message" class="error-message"></div>
