<div class="d-flex justify-content-start align-items-center mb-3 pb-2 border-bottom">
  <%= link_to "/admin/#{canonical_name}", icon('arrow-left', 'Back'), escape: false, class: 'btn btn-link btn-sm' %>
  <h1 style="font-size: 1.5em" class="mb-0 text-muted">Edit <%= titlecase entity.class.canonical_name %></h1>
</div>

<% attributes = entity.class.attributes.sort_by(&:display_order).reject { |a| a[:edit] == false } %>
<form action="/admin/<%= canonical_name %>/<%= entity.id %>" method="POST">
  <% attributes.each do |attr| %>
    <div class="field-group mb-3">
      <label for="<%= attr.name %>"><%= attr.display_name %></label>
      <%= form_field(attr, entity: entity) %>
    </div>
  <% end %>
  <button class="btn btn-primary">Update</button>
</form>
