<div class="row">
<div class="col-7">
<h3>Session</h3>
<table class="mb-3 table">
    <% request.session.each do |key, value| %>
        <tr>
            <th><%= key %><th>
            <td><%= value %></td>
        </tr>
    <% end %>
</table>

<h3>Routes</h3>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Method</th>
            <th>Path</th>
            <th>Alias</th>
        </tr>
    </thead>
    <tbody>
        <% routes_list.each do |route| %>
            <tr>
                <td><%= route.method.name.upcase %></td>
                <td><%= link_to route.path, route.path %></td>
                <td><%= route.route_alias %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
    <div class="col-5">
        <table>
            <% request.each_header do |header, value| %>
                <tr>
                    <th><%= header %></th>
                    <td><%=h value.to_s %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>