<% attributes = entity_class.attributes.sort_by(&:display_order).reject { |a| a[:display] == false } %>
<div class="d-flex justify-content-between align-items-center">
  <%= link_to '/admin', '<< Back', class: 'btn btn-link btn-sm' %>
  <h1 style="font-size: 1.5em"><%= titlecase controller_name %></h1>
  <%= link_to "/admin/#{controller_name}/new", "Add #{titlecase entity_class.canonical_name}", class: 'btn btn-sm btn-primary' %>
</div>
<table class="table table-striped table-sm" style="font-size: 0.9em">
  <thead>
    <% attributes.each do |attr| %>
      <th scope="col"><%= attr.display_name %></th>
    <% end %>
    <th scope="col"></th>
  </thead>
  <tbody>
    <% entity_repository.each do |entity| %>
      <tr>
	<% attributes.each do |attr| %>
	  <td><%= entity.send(attr.name) %></td>
	<% end %>
	<td>
	  <%= link_to "/admin/#{controller_name}/#{entity.id}", 'View', class: "btn btn-link btn-sm" %>
	  <%= link_to "/admin/#{controller_name}/#{entity.id}/edit", 'Edit', class: "btn btn-link btn-sm" %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
