<div class="d-flex justify-content-between border-bottom pb-1 mb-2">
    <a href="/dashboard">
        <i class="fas fa-chevron-left"></i>
        Dashboard
    </a>
    <div class="text-muted">
        <strong><%= session.product %> Session</strong>
        @ <%= session.product.price_rate %>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="text-muted" id="session-time">
        <div>
            <% if session.ended? %>
                Ended <%= time_ago_in_words session.ended_at %>,
                <%= fmt_time session.started_at %> &mdash; <%= fmt_time session.ended_at %>
            <% else %>
                Started <%= time_ago_in_words session.started_at %>
            <% end %>
        </div>
    </div>
    <% if !session.ended? %>
        <div>
            <% if current_user.id == session.mentor.id %>
                <a class="btn btn-secondary" href="<%= meeting.start_url %>">Start Zoom</a>
            <% else %>
                <a class="btn btn-secondary" href="<%= meeting.join_url %>">Join Zoom</a>
            <% end %>
        </div>
        <form action="<%= session_path(session) %>" method="post">
            <input type="hidden" name="routable.http.method" value="delete">
            <button class="btn btn-danger">End Session</button>
        </form>
    <% else %>
        <%= session.duration %>
        <% if session.billed? %>&mdash; Billed <%= session.cost %><% end %>
    <% end %>
</div>
<style>
 .CodeMirror, .max-screen {
     min-height: calc(100vh - 80px)
 }
</style>
<div class="container-fluid mt-2 border-top px-0 max-screen">
    <script src="/assets/js/codemirror.js"></script>
    <link rel="stylesheet" href="/assets/css/codemirror.css">
    <script src="/assets/js/codemirror/ruby.js"></script>
    <script src="/assets/js/codemirror/javascript.js"></script>
    <div class="col-6 px-0 border-right max-screen">
        <textarea id="code-editor"></textarea>
        <script>
         CodeMirror.fromTextArea(document.getElementById('code-editor'), { mode: "ruby", lineNumbers: true })
        </script>
    </div>
    <div class="col-6 px-0"></div>
</div>

<% if session.ended? && current_user.id == session.mentor.id && !session.billed? && !session.cost.zero? %>
    <div class="modal show fade" id="sessionEndedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">How should this be charged?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/session/<%= session.id %>/bill" method="post">
                    <div class="modal-body">
                        <div class="form-inline">
                            <input type="hidden" name="session[id]" id="session_id" value="<%= session.id %>">
                            <label class="sr-only">Amount</label>
                            <div class="input-group mr-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="session_amount"
                                       style="width:10rem"
                                       type="number"
                                       name="session[amount]"
                                       class="form-control"
                                       value="<%= session.cost.magnitude.to_f.round(2) %>">
                            </div>

                            <label class="sr-only">Duration</label>
                            <div class="input-group">
                                <input id="session_duration"
                                       type="number"
                                       style="width:10rem"
                                       name="session[duration]"
                                       class="form-control"
                                       value="<%= session.duration.magnitude.to_f.round(1) %>">
                                <div class="input-group-append">
                                    <span class="input-group-text">minutes</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline mt-3">
                            <label for="session_started_at">Started</label>
                            <input type="datetime-local"
                                   id="session_started_at"
                                   name="session[started_at]"
                                   class="form-control mr-3"
                                   value="<%= session.started_at.iso8601 %>">

                            <label for="session_ended_at">Ended</label>
                            <input type="datetime-local"
                                   id="session_ended_at"
                                   name="session[ended_at]"
                                   class="form-control"
                                   value="<%= session.ended_at.iso8601 %>">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% end %>
