<section class="jumbotron bg-white mb-4 pt-4 pb-0 px-5">
    <div class="container">
        <h2 class=" mb-1 text-muted text-uppercase" style="font-size:1.4em">Your Mentor</h2>
        <div class="d-md-flex mt-0 pt-3 border-top">
            <div class="text-center">
                <img class="border mr-md-3 rounded-circle"
                     style="width:200px;height:200px" src="<%= mentor.meta['profile.image_path'] %>" alt="Picture of Delon & Jackie">
                <br>
                <div class="mt-3">
                    <% mentor.meta['profile.links'].each do |link| %>
                        <a title="<%= link['title'] %>" class="btn rounded-circle btn-secondary" href="<%= link['url'] %>">
                            <i class="<%= link['icon'] %>"></i>
                        </a>
                    <% end %>
                    <dl class="mt-3">
                        <dt class="text-muted"><i class="fas fa-map-marker-alt"></i> Location</dt>
                        <dd><%= mentor.meta['profile.location'] %></dd>
                        <dt class="text-muted"><i class="fas fa-clock"></i> Current Time</dt>
                        <dd id="mentor-current-time">
                            <span class="offset" style="visibility:hidden">
                                <%= mentor.utc_offset %>
                            </span>
                            -
                        </dd>
                        <dd id="mentor-chat-status" class="d-flex justify-content-center align-items-center">
                            <%= mentor_availability_status mentor %>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mt-3 mt-md-0">
                <%= mentor.meta['profile.bio'] %>
                <dl>
                    <dt class="text-muted"><i class="fas fa-book"></i> Specialties &amp; Interests</dt>
                    <dd><%= mentor.meta['profile.interests'].join(', ') %></dd>
                    <dt class="text-muted mb-2 mt-3"><i class="fas fa-calendar-week"></i> Availability</dt>
                    <dd>
                        <%= mentor_availability_schedule mentor %>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section class="bg-light px-5 py-4">
    <div class="container">
        <h2 class=" mb-1 text-muted text-uppercase" style="font-size:1.4em">
            <i class="fas fa-quote-left"></i>
            What Others Say
        </h2>
        <div class="mt-0 pt-3 border-top">
            <blockquote class="blockquote text-center">
                <p class="mb-0">
                    I had a great session with Delon, he was very understanding and had a lot of patience with me. He has a lot of
                    experience to help you out and guide you to solve your problem. I recommend him 100%.
                </p>
                <footer class="blockquote-footer">Marisol <cite>Pluralsight Mentor Review</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">
                    Unbelievable fast, funny guy who is a absolute pro in the field of PHP/SQL. He not only helped me but even provided
                    a better solution to the problem in a matter of minutes.
                </p>
                <footer class="blockquote-footer">Philip <cite>Pluralsight Mentor Review</cite></footer>
            </blockquote>
        </div>
    </div>
</section>
<section>
    <div class="container d-lg-flex mt-5">
        <% products.each do |product| %>
            <section class="card mr-lg-3 mb-3 mb-lg-0 mx-auto" style="width: 350px">
                <img class="card-img-top" src="<%= product.image_path %>">
                <div class="card-body">
                    <h5 class="card-title name"><%= product.name %></h5>
                    <div class="description text-muted" style="font-size: 0.9em"><%= product.description %></div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <% if not product.subscription? && product.purchased %>
                        <%= product_price product, subscriber: subscriber?(products) %>
                    <% else %>
                        <div></div>
                    <% end %>
                    <%= product_button product %>
                </div>
            </section>
        <% end %>
    </div>
    <div id="error-message" class="error-message"></div>
</section>
