<a href="/dashboard">
    <i class="fas fa-chevron-left"></i>
    Dashboard
</a>

<% if !session.ended? %>
    <div class="d-flex justify-content-between">
        <div class="text-muted" id="session-time">
            <% if session.ended? %>
                Session Ended <%= time_ago_in_words session.ended_at %>
            <% else %>
                Session Started <%= time_ago_in_words session.started_at %>
            <% end %>
        </div>
        <div>
            <% if current_user.id == session.mentor.id %>
                <a class="btn btn-secondary" href="<%= zoom_meeting.start_url %>">Start Zoom</a>
            <% else %>
                <a class="btn btn-secondary" href="<%= zoom_meeting.join_url %>">Join Zoom</a>
            <% end %>
        </div>
        <form action="<%= session_path(session) %>" method="post">
            <input type="hidden" name="routable.http.method" value="delete">
            <button class="btn btn-danger">End Session</button>
        </form>
    </div>
<% else %>
    <div class="d-flex justify-content-between">
        <div class="text-muted" id="session-time">
            Session Ended <%= time_ago_in_words session.ended_at %>
        </div>
        <div></div>
    </div>
<% end %>
